EPD_WIDTH=122
EPD_HEIGHT=255
OUTDIR=.calendar/out
GOOGLE_CREDENTIALS_PATH=./calendar/src/services/google_secrets/credentials.json
GOOGLE_TOKEN_PATH=./calendar/src/services/google_secrets/token.json

TASKS_SCOPES=https://www.googleapis.com/auth/tasks.readonly
CALENDAR_SCOPES=https://www.googleapis.com/auth/calendar.readonly

TIMEZONE = "UTC"